<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GridHive | About us</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
      <!---header-open--->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a href="#" class="navbar-brand" href="#"><img src="../images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i aria-hidden="true" tabindex="0" class="toggleicon fas fa-align-right "></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="../index.html" class="nav-link text-uppercase ">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase active" href="about.html" aria-current="page">About</a>
                <!-- <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul> -->
              </li>
              <!-- <li class="nav-item">
                <a href="#" class="nav-link text-uppercase">services</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-uppercase">client software</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-uppercase">Blog</a>
              </li>-->
              <li class="nav-item">
                <a href="../view/contact.html" class="nav-link text-uppercase">contact</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
      <!---header-close--->
      <!--About-start-->   
      <div class="container about-inner pt-0">
        <div class="row">
          <div class="col-lg-6 left-about"><img src="../images/about.png" alt="" class="img-fluid leftaboutimg"></div>
          <div class="col-lg-6 right-about">
            <p class="aboutp1 text-uppercase">About us</p>
            <h4 class="abouth1">Revolutionizing High-Performance Computing</h4>
            <p class="aboutp2">At GridHive, our mission is to redefine high-performance computing by leveraging the power of idle consumer-grade GPUs worldwide. We aim to offer an affordable, eco-friendly, and highly scalable computing solution by bridging the gap between high-demand computational needs and underused resources.</p>
            <h4 class="abouth2">Our Team</h4>
            <p class="aboutp3">GridHive is guided by a dedicated team of professionals experienced in finance, business strategy, technology, and marketing.</p>
            <a href="#" class="aboutbtn text-uppercase">Meet the team</a>
          </div>
        </div>
        <div class="ov-inner">
          <img src="../images/vision.png" class="visionimg">
              <div class="visionbody">
                  <h3 class="vision-title">Our Vision</h3>
                  <p class="vision-text">We believe in the potential of the shared economy to transform industries. Our vision is to bring the principles of the shared economy to the world of cloud computing, making high performance computing more accessible and sustainable than ever before.</p>
         </div>
        </div>
      </div>
      <!--About-end-->
      <!--Services-start-->
      <div class="container-fluid services-outer">
        <div class="container services-inner">
                <div class="s-heading"><h6 class="s-h1 text-uppercase">Services</h6></div>
                <h2 class="s-h2 text-center">Wide range of solutions includes</h2>
            <div class="row">
                <div class="col-lg-4 services-outerdiv">
                  <div class="special-box "> <img src="../images/s1.png" class="servicescardimg">
                    <div class="cardbody text-center">
                      <h3 class="card-title">GPU Cloud Computing</h3>
                      <p class="card-text">GPU Cloud Computing leverages the processing power of Graphics Processing Units (GPUs) over the cloud to perform complex calculations faster than traditional CPUs.</p>
                      <a href="#" class="services-btn text-uppercase">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 services-outerdiv">
                  <div class="special-box "><img src="../images/s2.png" class="servicescardimg">
                    <div class="cardbody text-center">
                      <h3 class="card-title">High-Performance Computing</h3>
                      <p class="card-text">High-Performance Computing (HPC) involves using powerful processors, often in parallel, to perform advanced computations at high speeds.</p>
                      <a href="#" class="services-btn text-uppercase">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 services-outerdiv">
                  <div class="special-box "><img src="../images/s3.png" class="servicescardimg">
                    <div class="cardbody text-center">
                      <h3 class="card-title">Container Workloads</h3>
                      <p class="card-text">Our platform allows you to run containerized applications on a vast, distributed network of GPUs, offering unparalleled flexibility and cost savings.</p>
                      <a href="#" class="services-btn text-uppercase">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 services-outerdiv">
                  <div class="special-box "> <img src="../images/s4.png" class="servicescardimg">
                    <div class="cardbody text-center">
                      <h3 class="card-title">Decentralized Computing</h3>
                      <p class="card-text">Our platform harnesses idle GPUs worldwide, distributing workloads over an expansive, interconnected network for maximized efficiency and minimized costs.</p>
                      <a href="#" class="services-btn text-uppercase">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 services-outerdiv">
                  <div class="special-box "><img src="../images/s5.png" class="servicescardimg">
                    <div class="cardbody text-center">
                      <h3 class="card-title">Data Analytics</h3>
                      <p class="card-text">GridHive's GPU cloud computing platform offers a powerful, affordable, and scalable solution for your data analytics and big data processing needs.</p>
                      <a href="#" class="services-btn text-uppercase">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 services-outerdiv">
                  <div class="special-box "><img src="../images/s6.png" class="servicescardimg">
                    <div class="cardbody text-center">
                        <h3 class="card-title">AI and Machine Learning</h3>
                        <p class="card-text">GridHive offers a high-performance computing environment designed to meet the demanding requirements of AI and machine learning workflows.</p>
                        <a href="#" class="services-btn text-uppercase">Read More</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <!--Services-end-->
      <!--footer-start-->
      <div class="container-fluid footer-outer">
        <div class="container footer-inner">
          <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-4 footerdiv1">
              <img src="../images/footer-logo.png" class="ftr-logo img-fluid" alt="">
              <p class="ftr-text">GridHive is more than a company; it's a vision for a sustainable, efficient future in highperformance computing. Let's harness the power of unused GPUs together!</p>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-4 footerdiv2">
              <div class=" qlnks">
                <p class=" qlnk">QUICK LINKS</p>
                <ul class=" qlnkul">
                  <li class="qlnk-item"><a href="../index.html" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Home</a></li>
                  <li class="qlnk-item"><a href="../view/about.html" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>About</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Services</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Client Software</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Pricing</a></li>
                </ul>
              </div>
              <div class=" qlnkdiv2"><div class="col-md-12 qlnks2">
                <ul class=" qlnkul">
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Home</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>About</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Services</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Client Software</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Pricing</a></li>
                </ul>
              </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 cntdiv">
              <p class="ftr-cntus qlnk">CONTACT US</p>
              <ul class="cntul">
                <li class="cnt-item"><a href="" class="cnt-list"><img src="../images/map-white.png" alt="" class="cnt-img">#123, Street name, City, Country</a></li>
                <li class="cnt-item"><a href="" class="cnt-list"><img src="../images/call-white.png" alt="" class="cnt-img">+55-555-5555</a></li>
                <li class="cnt-item"><a href="" class="cnt-list"><img src="../images/mail-white.png" alt="" class="cnt-img">info@gridhive.com</a></li>
              </ul>
            </div>
          </div>
        
        <div class="row cpyright">
        <div class="col-sm-6 cpyright1">© 2023. All rights are reserved.</div>
        <div class="col-sm-6 cpyright2"><div class="social-icons"><a href="" class="ftr-socialicon"><img src="../images/fb.png" alt="" class="ftr-socialiconimg1"></a><a href="" class="ftr-socialicon"><img src="../images/twitter.png" alt="" class="ftr-socialiconimg2"></a><a href="" class="ftr-socialicon"><img src="../images/indeed.png" alt="" class="ftr-socialiconimg3"></a>
        </div>
      </div>
      </div>
      </div>
      </div>
       
      <!--copyright-end-->
      <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript" src="../js/script.js"></script>
      <script src="https://kit.fontawesome.com/32c6581f0b.js" crossorigin="anonymous"></script>
</body>
</html>