<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GridHive | Contact Us</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
      <!---header-open--->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a href="#" class="navbar-brand" href="#"><img src="../images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i aria-hidden="true" tabindex="0" class="toggleicon fas fa-align-right "></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="../index.html" class="nav-link text-uppercase ">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase " href="../view/about.html" >About</a>
                <!-- <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul> -->
              </li>
              <!-- <li class="nav-item">
                <a href="#" class="nav-link text-uppercase">services</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-uppercase">client software</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-uppercase">Blog</a>
              </li>-->
              <li class="nav-item">
                <a href="../view/contact.html" class="nav-link text-uppercase active" aria-current="page">contact</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
      <!---header-close--->
              <!--get in touch-start-->
      <div class="container git-inner mt-0">
        <div class="row git-row ">
          <div class="col-md-4 left-git">
            <p class="gitp1 text-uppercase">LET'S TALK</p>
            <p class="gith1">Speak with <br/>Our Expert Team.</p>
            <div class="gitdiv"><img src="../images/map-icon.png" class="gdivimg1" alt=""><div class="sinnertext"><p class="gdivp1 text-uppercase">Address</p><p class="gdivp2">#123, Street name, City, Country</p></div></div>
            <div class="gitdiv"><img src="../images/call-icon.png" class="gdivimg2" alt=""><div class="sinnertext"><p class="gdivp1 text-uppercase">Phone</p><p class="gdivp2">+55-555-5555</p></div></div>
            <div class="gitdiv"><img src="../images/mail-icon.png" class="gdivimg3" alt=""><div class="sinnertext"><p class="gdivp1 text-uppercase">Email</p><p class="gdivp2">infor@gridhive.com</p></div></div>
          </div>
          <div class="col-md-8 right-git">
            <div class="gitinnerdiv2">
              <h6 class="git-head aboutp1">GET IN TOUCH</h6>
              <p class="git-title">Send us a Message</p>
              <form class="row ">
                <div class="col-md-6">
                    <input type="text" class="form-control my-1" id="inputFirstName" placeholder="First Name" required>
                </div>
                <div class="col-md-6">
                   <input type="text" class="form-control my-1" id="inputLastName" placeholder="Last Name" required>
                </div>
                <div class="col-md-6">
                   <input type="number" class="form-control my-1" id="inputPhone" placeholder="Phone" required>
                </div>
                <div class="col-md-6">
                   <input type="email" class="form-control my-1" id="inputEmail" placeholder="Email" required>
                </div>
                <div class="col-12">
                  <textarea class="form-control my-1" rows="4" cols="50" placeholder="Message" required></textarea >
                </div>
                <button href="#" class="gitbtn text-uppercase" type="submit">Send Message</button>
              </form>
              </div>
              
            </div>
          </div>
        </div>
      <!--get in touch-end-->
      <!--footer-start-->
      <div class="container-fluid footer-outer">
        <div class="container footer-inner">
          <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-4 footerdiv1">
              <img src="../images/footer-logo.png" class="ftr-logo img-fluid" alt="">
              <p class="ftr-text">GridHive is more than a company; it's a vision for a sustainable, efficient future in highperformance computing. Let's harness the power of unused GPUs together!</p>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-4 footerdiv2">
              <div class=" qlnks">
                <p class=" qlnk">QUICK LINKS</p>
                <ul class=" qlnkul">
                  <li class="qlnk-item"><a href="../index.html" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Home</a></li>
                  <li class="qlnk-item"><a href="../view/about.html" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>About</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Services</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Client Software</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Pricing</a></li>
                </ul>
              </div>
              <div class=" qlnkdiv2"><div class="col-md-12 qlnks2">
                <ul class=" qlnkul">
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Home</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>About</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Services</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Client Software</a></li>
                  <li class="qlnk-item"><a href="" class="qlnk-list"><i class="fa-solid fa-angles-right" style="color: #ffffff;"></i>Pricing</a></li>
                </ul>
              </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 cntdiv">
              <p class="ftr-cntus qlnk">CONTACT US</p>
              <ul class="cntul">
                <li class="cnt-item"><a href="" class="cnt-list"><img src="../images/map-white.png" alt="" class="cnt-img">#123, Street name, City, Country</a></li>
                <li class="cnt-item"><a href="" class="cnt-list"><img src="../images/call-white.png" alt="" class="cnt-img">+55-555-5555</a></li>
                <li class="cnt-item"><a href="" class="cnt-list"><img src="../images/mail-white.png" alt="" class="cnt-img">info@gridhive.com</a></li>
              </ul>
            </div>
          </div>
        
        <div class="row cpyright">
        <div class="col-sm-6 cpyright1">© 2023. All rights are reserved.</div>
        <div class="col-sm-6 cpyright2"><div class="social-icons"><a href="" class="ftr-socialicon"><img src="../images/fb.png" alt="" class="ftr-socialiconimg1"></a><a href="" class="ftr-socialicon"><img src="../images/twitter.png" alt="" class="ftr-socialiconimg2"></a><a href="" class="ftr-socialicon"><img src="../images/indeed.png" alt="" class="ftr-socialiconimg3"></a>
        </div>
      </div>
      </div>
      </div>
      </div>
       
      <!--copyright-end-->
      <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript" src="../js/script.js"></script>
      <script src="https://kit.fontawesome.com/32c6581f0b.js" crossorigin="anonymous"></script>
</body>
</html>